#mainContainer {
    display: flex;
    flex-direction: column;
    flex: 1;

    justify-content: center;
    margin: auto;

}

#gridContainer {
    display: flex;
}

#gridRow {
    flex: 1;
}

#gridBox {
    border: 1px solid #d4d4d4;
    padding: 40%;
    flex: 1;
}